.posts {
  position: relative;
  z-index: 2;
  margin-top: 50px;

  .posts__add {
    margin-bottom: 20px;
    display: flex;
  }

  .posts__wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: 320px) and (max-width: 992px) {
      flex-direction: column;
      justify-content: flex-start;
    }

  }


  .posts__item {
    border-bottom: 12px solid #d1d1d1;
    background-color: #eee;
    box-shadow: 0 31px 27px 0 rgba(0, 0, 0, .27);
    border-radius: 20px;
    width: 49%;
    margin-bottom: 40px;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all .3s linear;
    @media (min-width: 320px) and (max-width: 992px) {
      width: 100%;
      padding: 30px 20px;
    }
  }

  .posts__item:hover,
  .posts__item:focus {
    transform: scale(1.05);

    .posts__item--title {
      color: #e02148;
    }
  }

  .posts__item--head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media (min-width: 320px) and (max-width: 992px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .posts__item--date {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px 18px;
    background-color: #e02148;
    text-align: center;
  }

  .posts__item--title {
    color: #0c0c0c;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    line-height: 1;
    margin: 30px 0;
    transition: all .3s linear;
    @media (min-width: 320px) and (max-width: 992px) {
      font-size: 18px;
      margin: 15px 0;
    }
  }

  .posts__item--name {
    font-size: 18px;
  }

}


.post__wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 12px solid #d1d1d1;
  background-color: #eee;
  box-shadow: 0 31px 27px 0 rgba(0, 0, 0, .27);
  border-radius: 20px;
  width: 100%;
  margin-bottom: 40px;
  padding: 60px 30px;
  transition: all .3s linear;
  justify-content: flex-start;
  align-items: flex-start;
  @media (min-width: 320px) and (max-width: 992px) {
    padding: 30px 20px;
  }

  .posts__item--desc {
    font-weight: 700;
    margin-bottom: 30px;
  }

  .post__item--content {
    margin-bottom: 30px;
  }

  .post__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media (min-width: 320px) and (max-width: 992px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

}

.post__add--comment {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment__wrapper {
  background-color: #eeeeee7d;
  border-bottom: 12px solid #d1d1d180;

  .posts__item--head {
    color: #fff;
    margin-bottom: 20px;
  }

  .post__item--content {
    color: #fff;
  }
}

.comment__btn {
  margin-left: auto;
}

.post__social {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post__social__item {
  margin-left: 20px;
}

.post__social__item:first-child {
  margin-left: 0;
}








