/*
* Основным шрифтом взят шрифт Muller
*/
@font-face {
  font-family: 'Muller';
  src: url("/fonts/Muller/MullerThin.woff") format('woff');
  font-weight: 100;
  font-style: 'normal';
}

@font-face {
  font-family: 'Muller';
  src: url("/fonts/Muller/MullerUltraLight.woff") format('woff');
  font-weight: 200;
  font-style: 'normal';
}

@font-face {
  font-family: 'Muller';
  src: url("/fonts/Muller/MullerLight.woff") format('woff');
  font-weight: 300;
  font-style: 'normal';
}

@font-face {
  font-family: 'Muller';
  src: url("/fonts/Muller/MullerRegular.woff") format('woff');
  font-weight: 400;
  font-style: 'normal';
}

@font-face {
  font-family: 'Muller';
  src: url("/fonts/Muller/MullerMedium.woff") format('woff');
  font-weight: 500;
  font-style: 'normal';
}


@font-face {
  font-family: 'Muller';
  src: url("/fonts/Muller/MullerBold.woff") format('woff');
  font-weight: 700;
  font-style: 'normal';
}

@font-face {
  font-family: 'Muller';
  src: url("/fonts/Muller/MullerExtraBold.woff") format('woff');
  font-weight: 800;
  font-style: 'normal';
}


@font-face {
  font-family: 'Muller';
  src: url("/fonts/Muller/MullerBlack.woff") format('woff');
  font-weight: 900;
  font-style: 'normal';
}