//Страница входа
.login {
  position: relative;
  z-index: 2;

  .login__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
  }

  .panel.panel-default {
    width: 60%;
    @media (min-width: 320px) and (max-width: 767px) {
      width: 100%;
    }
  }
}