body * {
  font-family: $muller, 'Raleway', sans-serif;
}

.content {
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-content {
  position: relative;
  flex: 1 0 auto;
}

.navbar {
  margin-bottom: 0;
}

.main-content {
  background: linear-gradient(60deg, #543ab7 0%, #00acc1 100%);
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

.posts__forms {
  color: #fff;
  label {
    font-size: 20px;
  }
}

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
}

