//Приветственная страница
.welcome {
  height: 100vh;
  background-image: url('/img/bg-main.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .welcome__wrapper {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7));
    width: 500px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    @media (min-width: 320px) and (max-width: 767px) {
      width: 90%;
    }
  }

  .welcome__title {
    color: #331e19;
    @media (min-width: 320px) and (max-width: 767px) {
      font-size: 26px;
    }
  }

  .welcome__link--wrapper {
    margin: 10px 0 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .welcome__link--go {
    color: #331e19;
    font-size: 18px;
  }

  .welcome__link--go:nth-child(1) {
    margin-right: 10px;
  }

  .welcome__link--go:nth-child(2) {
    margin-left: 10px;
  }

  .welcome__link--private {
    color: #331e19;
  }

  .welcome__link--by {
    color: #eb4c2f;
    font-size: 30px;
  }

  .welcome__link {
    position: relative;
  }

  .welcome__link:hover,
  .welcome__link:focus {
    text-decoration: none;
  }

  .welcome__link:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #331e19;
    transition: all .3s linear;
  }

  .welcome__link--by.welcome__link:before {
    background-color: #eb4c2f;
  }

  .welcome__link:hover:before {
    width: 100%;
  }
}